<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.basecenter.mapper.PfBasSourceMapper">
    
    <resultMap type="PfBasSource" id="PfBasSourceResult">
        <result property="sourceId"    column="SOURCE_ID"    />
        <result property="sourceNo"    column="SOURCE_NO"    />
        <result property="fullName"    column="FULL_NAME"    />
        <result property="socialCreditCode"    column="SOCIAL_CREDIT_CODE"    />
        <result property="organizationCode"    column="ORGANIZATION_CODE"    />
        <result property="emissionPermitCode"    column="EMISSION_PERMIT_CODE"    />
        <result property="townCode"    column="TOWN_CODE"    />
        <result property="townName"    column="TOWN_NAME"    />
        <result property="villageCode"    column="VILLAGE_CODE"    />
        <result property="villageName"    column="VILLAGE_NAME"    />
        <result property="industryCode"    column="INDUSTRY_CODE"    />
        <result property="industryName"    column="INDUSTRY_NAME"    />
        <result property="address"    column="ADDRESS"    />
        <result property="longitude"    column="LONGITUDE"    />
        <result property="latitude"    column="LATITUDE"    />
        <result property="sourceStatus"    column="SOURCE_STATUS"    />
        <result property="sourceScale"    column="SOURCE_SCALE"    />
        <result property="legalPersonName"    column="LEGAL_PERSON_NAME"    />
        <result property="legalPersonPhone"    column="LEGAL_PERSON_PHONE"    />
        <result property="envContactName"    column="ENV_CONTACT_NAME"    />
        <result property="envContactPhone"    column="ENV_CONTACT_PHONE"    />
        <result property="inflowWaterName"    column="INFLOW_WATER_NAME"    />
        <result property="processFlow"    column="PROCESS_FLOW"    />
        <result property="envMonitorLevel"    column="ENV_MONITOR_LEVEL"    />
        <result property="hasWasteWater"    column="HAS_WASTE_WATER"    />
        <result property="hasWasteGas"    column="HAS_WASTE_GAS"    />
        <result property="hasGeneralSolid"    column="HAS_GENERAL_SOLID"    />
        <result property="hasHazardousWaste"    column="HAS_HAZARDOUS_WASTE"    />
        <result property="hasRareEarth"    column="HAS_RARE_EARTH"    />
        <result property="memo"    column="MEMO"    />
        <result property="longitudeD"    column="LONGITUDE_D"    />
        <result property="longitudeF"    column="LONGITUDE_F"    />
        <result property="longitudeM"    column="LONGITUDE_M"    />
        <result property="latitudeD"    column="LATITUDE_D"    />
        <result property="latitudeF"    column="LATITUDE_F"    />
        <result property="latitudeM"    column="LATITUDE_M"    />
        <result property="isDeleted"    column="IS_DELETED"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="dateCreated"    column="DATE_CREATED"    />
        <result property="dateUpdated"    column="DATE_UPDATED"    />
    </resultMap>

    <sql id="selectPfBasSourceVo">
        select source_id, source_no, full_name, social_credit_code, organization_code, emission_permit_code, town_code, town_name, village_code, village_name, industry_code, industry_name, address, longitude, latitude, source_status, source_scale, legal_person_name, legal_person_phone, env_contact_name, env_contact_phone, inflow_water_name, process_flow, env_monitor_level, has_waste_water, has_waste_gas, has_general_solid, has_hazardous_waste, has_rare_earth, memo, longitude_d, longitude_f, longitude_m, latitude_d, latitude_f, latitude_m, is_deleted, created_by, updated_by, date_created, date_updated from pf_bas_source
    </sql>

    <select id="selectPfBasSourceListByFullName" resultMap="PfBasSourceResult">
        select * from ( select t.*,rownum rn from pf_bas_source t where
        <if test="fullName != null  and fullName != ''"> full_name like concat(concat('%', #{fullName}), '%')</if> )
        nn where nn.rn >= 0 and nn.rn &lt; 31 order by industry_code
    </select>

    <select id="selectPfBasSourceList" parameterType="PfBasSource" resultMap="PfBasSourceResult">
        select * from (select t.*,rownum rn from pf_bas_source t where
        <if test="fullName != null  and fullName != ''"> full_name like concat(concat('%', #{fullName}), '%')</if>
        <if test="socialCreditCode != null  and socialCreditCode != ''"> and social_credit_code like concat(concat('%', #{socialCreditCode}), '%')</if>
        <if test="organizationCode != null  and organizationCode != ''"> and organization_code like concat(concat('%', #{organizationCode}), '%')</if>
        <if test="emissionPermitCode != null  and emissionPermitCode != ''"> and emission_permit_code like concat(concat('%', #{emissionPermitCode}), '%')</if>
        <if test="townCode != null  and townCode != ''"> and town_code like  concat(concat('%', #{townCode}), '%')</if>
        <if test="townName != null  and townName != ''"> and town_name like  concat(concat('%', #{townName}), '%')</if>
        <if test="villageCode != null  and villageCode != ''"> and village_code like  concat(concat('%', #{villageCode}), '%')</if>
        <if test="villageName != null  and villageName != ''"> and village_name like  concat(concat('%', #{villageName}), '%')</if>
        <if test="industryCode != null  and industryCode != ''"> and industry_code like  concat(concat('%', #{industryCode}), '%')</if>
        <if test="industryName != null  and industryName != ''"> and industry_name like  concat(concat('%', #{industryName}), '%')</if>
        <if test="address != null  and address != ''"> and address like  concat(concat('%', #{address}), '%')</if>
        <if test="longitude != null "> and longitude like  concat(concat('%', #{longitude}), '%')</if>
        <if test="latitude != null "> and latitude like  concat(concat('%', #{latitude}), '%')</if>
        <if test="sourceStatus != null  and sourceStatus != ''"> and source_status like  concat(concat('%', #{sourceStatus}), '%')</if>
        <if test="sourceScale != null  and sourceScale != ''"> and source_scale like  concat(concat('%', #{sourceScale}), '%')</if>
        <if test="legalPersonName != null  and legalPersonName != ''"> and legal_person_name like  concat(concat('%', #{legalPersonName}), '%')</if>
        <if test="legalPersonPhone != null  and legalPersonPhone != ''"> and legal_person_phone like  concat(concat('%', #{legalPersonPhone}), '%')</if>
        <if test="envContactName != null  and envContactName != ''"> and env_contact_name like  concat(concat('%', #{envContactName}), '%')</if>
        <if test="envContactPhone != null  and envContactPhone != ''"> and env_contact_phone like  concat(concat('%', #{envContactPhone}), '%')</if>
        <if test="inflowWaterName != null  and inflowWaterName != ''"> and inflow_water_name like  concat(concat('%', #{inflowWaterName}), '%')</if>
        <if test="processFlow != null  and processFlow != ''"> and process_flow like  concat(concat('%', #{processFlow}), '%')</if>
        <if test="envMonitorLevel != null  and envMonitorLevel != ''"> and env_monitor_level like  concat(concat('%', #{envMonitorLevel}), '%')</if>
        <if test="hasWasteWater != null  and hasWasteWater != ''"> and has_waste_water like  concat(concat('%', #{hasWasteWater}), '%')</if>
        <if test="hasWasteGas != null  and hasWasteGas != ''"> and has_waste_gas like  concat(concat('%', #{hasWasteGas}), '%')</if>
        <if test="hasGeneralSolid != null  and hasGeneralSolid != ''"> and has_general_solid like  concat(concat('%', #{hasGeneralSolid}), '%')</if>
        <if test="hasHazardousWaste != null  and hasHazardousWaste != ''"> and has_hazardous_waste like  concat(concat('%', #{hasHazardousWaste}), '%')</if>
        <if test="hasRareEarth != null  and hasRareEarth != ''"> and has_rare_earth like  concat(concat('%', #{hasRareEarth}), '%')</if>
        <if test="memo != null  and memo != ''"> and memo like  concat(concat('%', #{memo}), '%')</if>
        <if test="longitudeD != null  and longitudeD != ''"> and longitude_d like  concat(concat('%', #{longitudeD}), '%')</if>
        <if test="longitudeF != null  and longitudeF != ''"> and longitude_f like  concat(concat('%', #{longitudeF}), '%')</if>
        <if test="longitudeM != null  and longitudeM != ''"> and longitude_m like  concat(concat('%', #{longitudeM}), '%')</if>
        <if test="latitudeD != null  and latitudeD != ''"> and latitude_d like  concat(concat('%', #{latitudeD}), '%')</if>
        <if test="latitudeF != null  and latitudeF != ''"> and latitude_f like  concat(concat('%', #{latitudeF}), '%')</if>
        <if test="latitudeM != null  and latitudeM != ''"> and latitude_m like  concat(concat('%', #{latitudeM}), '%')</if>
        <if test="isDeleted != null "> and is_deleted like  concat(concat('%', #{isDeleted}), '%')</if>
        <if test="createdBy != null  and createdBy != ''"> and created_by like  concat(concat('%', #{createdBy}), '%')</if>
        <if test="updatedBy != null  and updatedBy != ''"> and updated_by like  concat(concat('%', #{updatedBy}), '%')</if>
        <if test="dateCreated != null "> and date_created like  concat(concat('%', #{dateCreated}), '%')</if>
        <if test="dateUpdated != null "> and date_updated like  concat(concat('%', #{dateUpdated}), '%')</if>
        ) nn where nn.rn >= 0 and nn.rn &lt; 31

        order by industry_code
    </select>

    
    <select id="selectPfBasSourceById" parameterType="String" resultMap="PfBasSourceResult">
        <include refid="selectPfBasSourceVo"/>
        where source_id = #{sourceId}
    </select>
        
    <insert id="insertPfBasSource" parameterType="PfBasSource">
        insert into pf_bas_source
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sourceId != null  and sourceId != ''">source_id,</if>
            <if test="sourceNo != null  and sourceNo != ''">source_no,</if>
            <if test="fullName != null  and fullName != ''">full_name,</if>
            <if test="socialCreditCode != null  and socialCreditCode != ''">social_credit_code,</if>
            <if test="organizationCode != null  and organizationCode != ''">organization_code,</if>
            <if test="emissionPermitCode != null  and emissionPermitCode != ''">emission_permit_code,</if>
            <if test="townCode != null  and townCode != ''">town_code,</if>
            <if test="townName != null  and townName != ''">town_name,</if>
            <if test="villageCode != null  and villageCode != ''">village_code,</if>
            <if test="villageName != null  and villageName != ''">village_name,</if>
            <if test="industryCode != null  and industryCode != ''">industry_code,</if>
            <if test="industryName != null  and industryName != ''">industry_name,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="longitude != null ">longitude,</if>
            <if test="latitude != null ">latitude,</if>
            <if test="sourceStatus != null  and sourceStatus != ''">source_status,</if>
            <if test="sourceScale != null  and sourceScale != ''">source_scale,</if>
            <if test="legalPersonName != null  and legalPersonName != ''">legal_person_name,</if>
            <if test="legalPersonPhone != null  and legalPersonPhone != ''">legal_person_phone,</if>
            <if test="envContactName != null  and envContactName != ''">env_contact_name,</if>
            <if test="envContactPhone != null  and envContactPhone != ''">env_contact_phone,</if>
            <if test="inflowWaterName != null  and inflowWaterName != ''">inflow_water_name,</if>
            <if test="processFlow != null  and processFlow != ''">process_flow,</if>
            <if test="envMonitorLevel != null  and envMonitorLevel != ''">env_monitor_level,</if>
            <if test="hasWasteWater != null  and hasWasteWater != ''">has_waste_water,</if>
            <if test="hasWasteGas != null  and hasWasteGas != ''">has_waste_gas,</if>
            <if test="hasGeneralSolid != null  and hasGeneralSolid != ''">has_general_solid,</if>
            <if test="hasHazardousWaste != null  and hasHazardousWaste != ''">has_hazardous_waste,</if>
            <if test="hasRareEarth != null  and hasRareEarth != ''">has_rare_earth,</if>
            <if test="memo != null  and memo != ''">memo,</if>
            <if test="longitudeD != null  and longitudeD != ''">longitude_d,</if>
            <if test="longitudeF != null  and longitudeF != ''">longitude_f,</if>
            <if test="longitudeM != null  and longitudeM != ''">longitude_m,</if>
            <if test="latitudeD != null  and latitudeD != ''">latitude_d,</if>
            <if test="latitudeF != null  and latitudeF != ''">latitude_f,</if>
            <if test="latitudeM != null  and latitudeM != ''">latitude_m,</if>
            <if test="isDeleted != null ">is_deleted,</if>
            <if test="createdBy != null  and createdBy != ''">created_by,</if>
            <if test="updatedBy != null  and updatedBy != ''">updated_by,</if>
            <if test="dateCreated != null ">date_created,</if>
            <if test="dateUpdated != null ">date_updated,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sourceId != null  and sourceId != ''">#{sourceId},</if>
            <if test="sourceNo != null  and sourceNo != ''">#{sourceNo},</if>
            <if test="fullName != null  and fullName != ''">#{fullName},</if>
            <if test="socialCreditCode != null  and socialCreditCode != ''">#{socialCreditCode},</if>
            <if test="organizationCode != null  and organizationCode != ''">#{organizationCode},</if>
            <if test="emissionPermitCode != null  and emissionPermitCode != ''">#{emissionPermitCode},</if>
            <if test="townCode != null  and townCode != ''">#{townCode},</if>
            <if test="townName != null  and townName != ''">#{townName},</if>
            <if test="villageCode != null  and villageCode != ''">#{villageCode},</if>
            <if test="villageName != null  and villageName != ''">#{villageName},</if>
            <if test="industryCode != null  and industryCode != ''">#{industryCode},</if>
            <if test="industryName != null  and industryName != ''">#{industryName},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="longitude != null ">#{longitude},</if>
            <if test="latitude != null ">#{latitude},</if>
            <if test="sourceStatus != null  and sourceStatus != ''">#{sourceStatus},</if>
            <if test="sourceScale != null  and sourceScale != ''">#{sourceScale},</if>
            <if test="legalPersonName != null  and legalPersonName != ''">#{legalPersonName},</if>
            <if test="legalPersonPhone != null  and legalPersonPhone != ''">#{legalPersonPhone},</if>
            <if test="envContactName != null  and envContactName != ''">#{envContactName},</if>
            <if test="envContactPhone != null  and envContactPhone != ''">#{envContactPhone},</if>
            <if test="inflowWaterName != null  and inflowWaterName != ''">#{inflowWaterName},</if>
            <if test="processFlow != null  and processFlow != ''">#{processFlow},</if>
            <if test="envMonitorLevel != null  and envMonitorLevel != ''">#{envMonitorLevel},</if>
            <if test="hasWasteWater != null  and hasWasteWater != ''">#{hasWasteWater},</if>
            <if test="hasWasteGas != null  and hasWasteGas != ''">#{hasWasteGas},</if>
            <if test="hasGeneralSolid != null  and hasGeneralSolid != ''">#{hasGeneralSolid},</if>
            <if test="hasHazardousWaste != null  and hasHazardousWaste != ''">#{hasHazardousWaste},</if>
            <if test="hasRareEarth != null  and hasRareEarth != ''">#{hasRareEarth},</if>
            <if test="memo != null  and memo != ''">#{memo},</if>
            <if test="longitudeD != null  and longitudeD != ''">#{longitudeD},</if>
            <if test="longitudeF != null  and longitudeF != ''">#{longitudeF},</if>
            <if test="longitudeM != null  and longitudeM != ''">#{longitudeM},</if>
            <if test="latitudeD != null  and latitudeD != ''">#{latitudeD},</if>
            <if test="latitudeF != null  and latitudeF != ''">#{latitudeF},</if>
            <if test="latitudeM != null  and latitudeM != ''">#{latitudeM},</if>
            <if test="isDeleted != null ">#{isDeleted},</if>
            <if test="createdBy != null  and createdBy != ''">#{createdBy},</if>
            <if test="updatedBy != null  and updatedBy != ''">#{updatedBy},</if>
            <if test="dateCreated != null ">#{dateCreated},</if>
            <if test="dateUpdated != null ">#{dateUpdated},</if>
         </trim>
    </insert>

    <update id="updatePfBasSource" parameterType="PfBasSource">
        update pf_bas_source
        <trim prefix="SET" suffixOverrides=",">
            <if test="sourceNo != null  and sourceNo != ''">source_no = #{sourceNo},</if>
            <if test="fullName != null  and fullName != ''">full_name = #{fullName},</if>
            <if test="socialCreditCode != null  and socialCreditCode != ''">social_credit_code = #{socialCreditCode},</if>
            <if test="organizationCode != null  and organizationCode != ''">organization_code = #{organizationCode},</if>
            <if test="emissionPermitCode != null  and emissionPermitCode != ''">emission_permit_code = #{emissionPermitCode},</if>
            <if test="townCode != null  and townCode != ''">town_code = #{townCode},</if>
            <if test="townName != null  and townName != ''">town_name = #{townName},</if>
            <if test="villageCode != null  and villageCode != ''">village_code = #{villageCode},</if>
            <if test="villageName != null  and villageName != ''">village_name = #{villageName},</if>
            <if test="industryCode != null  and industryCode != ''">industry_code = #{industryCode},</if>
            <if test="industryName != null  and industryName != ''">industry_name = #{industryName},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="longitude != null ">longitude = #{longitude},</if>
            <if test="latitude != null ">latitude = #{latitude},</if>
            <if test="sourceStatus != null  and sourceStatus != ''">source_status = #{sourceStatus},</if>
            <if test="sourceScale != null  and sourceScale != ''">source_scale = #{sourceScale},</if>
            <if test="legalPersonName != null  and legalPersonName != ''">legal_person_name = #{legalPersonName},</if>
            <if test="legalPersonPhone != null  and legalPersonPhone != ''">legal_person_phone = #{legalPersonPhone},</if>
            <if test="envContactName != null  and envContactName != ''">env_contact_name = #{envContactName},</if>
            <if test="envContactPhone != null  and envContactPhone != ''">env_contact_phone = #{envContactPhone},</if>
            <if test="inflowWaterName != null  and inflowWaterName != ''">inflow_water_name = #{inflowWaterName},</if>
            <if test="processFlow != null  and processFlow != ''">process_flow = #{processFlow},</if>
            <if test="envMonitorLevel != null  and envMonitorLevel != ''">env_monitor_level = #{envMonitorLevel},</if>
            <if test="hasWasteWater != null  and hasWasteWater != ''">has_waste_water = #{hasWasteWater},</if>
            <if test="hasWasteGas != null  and hasWasteGas != ''">has_waste_gas = #{hasWasteGas},</if>
            <if test="hasGeneralSolid != null  and hasGeneralSolid != ''">has_general_solid = #{hasGeneralSolid},</if>
            <if test="hasHazardousWaste != null  and hasHazardousWaste != ''">has_hazardous_waste = #{hasHazardousWaste},</if>
            <if test="hasRareEarth != null  and hasRareEarth != ''">has_rare_earth = #{hasRareEarth},</if>
            <if test="memo != null  and memo != ''">memo = #{memo},</if>
            <if test="longitudeD != null  and longitudeD != ''">longitude_d = #{longitudeD},</if>
            <if test="longitudeF != null  and longitudeF != ''">longitude_f = #{longitudeF},</if>
            <if test="longitudeM != null  and longitudeM != ''">longitude_m = #{longitudeM},</if>
            <if test="latitudeD != null  and latitudeD != ''">latitude_d = #{latitudeD},</if>
            <if test="latitudeF != null  and latitudeF != ''">latitude_f = #{latitudeF},</if>
            <if test="latitudeM != null  and latitudeM != ''">latitude_m = #{latitudeM},</if>
            <if test="isDeleted != null ">is_deleted = #{isDeleted},</if>
            <if test="createdBy != null  and createdBy != ''">created_by = #{createdBy},</if>
            <if test="updatedBy != null  and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="dateCreated != null ">date_created = #{dateCreated},</if>
            <if test="dateUpdated != null ">date_updated = #{dateUpdated},</if>
        </trim>
        where source_id = #{sourceId}
    </update>

    <delete id="deletePfBasSourceById" parameterType="String">
        delete from pf_bas_source where source_id = #{sourceId}
    </delete>

    <delete id="deletePfBasSourceByIds" parameterType="String">
        delete from pf_bas_source where source_id in 
        <foreach item="sourceId" collection="array" open="(" separator="," close=")">
            #{sourceId}
        </foreach>
    </delete>
    
</mapper>