.main-container {
  .fixed-header {
    .navbar {
      position: fixed !important;
      width: 100%;
      left: 0px;
      height: 60px;
      background-color: #438EB9;
      color: white;
    }

    .tags-view-container {
      //margin-top: 60px;
    }
  }
}


 .el-scrollbar {
   background-color: red;
 }

