<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.project.qixiu.mapper.QXCheckPointElementMapper">

    <resultMap id="entity" type="QXCPElementEntity">
        <result property="elementId"       column="elementId"      />
        <result property="collectId"       column="collect_id"      />
        <result property="eleTypeId"       column="ele_type_id"      />
        <result property="eleCode"       column="element_code"      />
        <result property="eleDesc"       column="element_desc"      />
        <result property="isOnline"       column="is_online"      />
        <result property="installLocation"       column="install_location"      />
        <result property="cpElemId"       column="cp_elem_id"      />
        <result property="checkDate"       column="check_date"      />
        <result property="judgementval"       column="judgementval"      />
        <result property="cpName"       column="cpName"      />
        <result property="sourceName"       column="sourceName"      />
        <result property="sourceId"       column="source_id"      />
        <result property="eleTypeDesc"       column="ele_type_desc"      />
        <result property="outletId"       column="outlet_id"      />
        <result property="outletName"       column="outlet_name"      />
    </resultMap>

    <resultMap id="eleList" type="QXNameIdEntity">
        <result property="id"       column="ele_type_id"      />
        <result property="name"       column="ele_type_desc"      />
    </resultMap>

    <delete id="deleteCPElement" parameterType="QXDeleteEntity">
        UPDATE bas_checkpoint_element
        <set>
            IS_DELETED = 1,
            <if test="userName != null and userName != ''">
                UPDATED_BY = #{userName},
            </if>
            DATE_UPDATED = SYSDATE
        </set>
        where CP_ELEM_ID in
        <foreach collection="array" item="cpElemId" open="(" separator="," close=")">
            #{cpElemId}
        </foreach>
    </delete>

    <update id="updateCPElement" parameterType="QXCPElementEntity">
        UPDATE bas_checkpoint_element SET
        COLLECT_ID = #{collectId, jdbcType=VARCHAR},
        ELE_TYPE_ID = #{eleTypeId, jdbcType=VARCHAR},
        ELEMENT_CODE = #{eleCode, jdbcType=VARCHAR},
        ELEMENT_DESC = #{eleDesc, jdbcType=VARCHAR},
        INSTALL_LOCATION = #{installLocation, jdbcType=VARCHAR},
        <if test="judgementval != null">JUDGEMENTVAL = #{judgementval},</if>
        <if test="isOnline != null">IS_ONLINE = #{isOnline},</if>
        OUTLET_ID = #{outletId, jdbcType=VARCHAR},
        UPDATED_BY = #{updatedBy},DATE_UPDATED = SYSDATE
        WHERE CP_ELEM_ID =  #{cpElemId}
    </update>

    <select id="repeatCheck" resultType="int" parameterType="QXCPElementEntity">
        select count(1) from BAS_CHECKPOINT_ELEMENT
        where ELEMENT_CODE = #{eleCode} and COLLECT_ID = #{collectId} and IS_DELETED = 0
    </select>

    <insert id="insertCPElement" parameterType="QXCPElementEntity">
        INSERT INTO bas_checkpoint_element
        <trim prefix="(" suffix=")" suffixOverrides=",">
            CP_ELEM_ID,
            <if test="collectId != null  and collectId != ''">COLLECT_ID,</if>
            <if test="eleTypeId != null  and eleTypeId != ''">ELE_TYPE_ID,</if>
            <if test="eleCode != null  and eleCode != ''">ELEMENT_CODE,</if>
            <if test="eleDesc != null  and eleDesc != ''">ELEMENT_DESC,</if>
            <if test="installLocation != null  and installLocation != ''">INSTALL_LOCATION,</if>
            JUDGEMENTVAL,
            <if test="isOnline != null  and isOnline != ''">IS_ONLINE,</if>
            <if test="outletId != null  and outletId != ''">OUTLET_ID,</if>
            IS_DELETED,CREATED_BY,UPDATED_BY,DATE_CREATED,DATE_UPDATED
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            SEQ_ELEMENT_ID.nextval,
            <if test="collectId != null  and collectId != ''">#{collectId},</if>
            <if test="eleTypeId != null  and eleTypeId != ''">#{eleTypeId},</if>
            <if test="eleCode != null  and eleCode != ''">#{eleCode},</if>
            <if test="eleDesc != null  and eleDesc != ''">#{eleDesc},</if>
            <if test="installLocation != null  and installLocation != ''">#{installLocation},</if>
            0,
            <if test="isOnline != null  and isOnline != ''">#{isOnline},</if>
            <if test="outletId != null  and outletId != ''">#{outletId},</if>
            0,#{createdBy},#{updatedBy},SYSDATE,SYSDATE
        </trim>
    </insert>

    <select id="selectElement" resultMap="eleList">
        SELECT ele_type_id,ele_type_desc from bas_element where is_deleted = 0
        <if test="name != null and name != ''">
            and s.ele_type_desc like '%'|| #{name}||'%'
        </if>
        <if test="id != null and id != ''">
            and s.ele_type_id like '%'|| #{id}||'%'
        </if>
    </select>

    <select id="selectCPElement" parameterType="QXCPElementEntity" resultMap="entity">
        select cp.source_id,ce.collect_id,ce.ele_type_id,ce.element_code,ce.element_desc,ce.install_location,
        ce.cp_elem_id,ce.is_online,ce.check_date,ce.judgementval,ce.outlet_id,
        s.full_name sourceName,cp.full_name cpName,be.ele_type_desc,bo.outlet_name
        from bas_checkpoint_element ce
        inner join bas_checkpoint cp on cp.collect_id = ce.collect_id and cp.is_deleted = 0
        inner join basecenter.pf_bas_source s on cp.source_id = S.source_id and s.is_deleted = 0
        inner join bas_element be on be.ele_type_id = ce.ele_type_id and be.is_deleted = 0
        left join BAS_OUTLET bo on bo.outlet_id = ce.outlet_id and bo.is_deleted = 0
        where ce.is_deleted = 0
        <if test="eleDesc != null and eleDesc != ''">
            and ce.element_desc like '%'|| #{eleDesc}||'%'
        </if>
        <if test="cpName != null and cpName != ''">
            and cp.full_name like '%'|| #{cpName}||'%'
        </if>
        <if test="sourceName != null and sourceName != ''">
            and s.full_name like '%'|| #{sourceName}||'%'
        </if>
        <if test="sourceId != null and sourceId != ''">
            and s.source_id = #{sourceId}
        </if>
        <if test="outletName != null and outletName != ''">
            and bo.outlet_name like '%'|| #{outletName}||'%'
        </if>
        ${dataScope}
        order by s.source_id
    </select>



</mapper>
