<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.JTaskheadMapper">
    
    <resultMap type="JTaskhead" id="JTaskheadResult">
        <result property="ztaskhid"    column="ZTASKHID"    />
        <result property="zparenthid"    column="ZPARENTHID"    />
        <result property="ztasktype"    column="ZTASKTYPE"    />
        <result property="zurgencylevel"    column="ZURGENCYLEVEL"    />
        <result property="ztaskstatus"    column="ZTASKSTATUS"    />
        <result property="ztasktitle"    column="ZTASKTITLE"    />
        <result property="ztaskcontent"    column="ZTASKCONTENT"    />
        <result property="ztaskdate"    column="ZTASKDATE"    />
        <result property="zbegintime"    column="ZBEGINTIME"    />
        <result property="zendtime"    column="ZENDTIME"    />
        <result property="zowneruserid"    column="ZOWNERUSERID"    />
        <result property="zownerdeptid"    column="ZOWNERDEPTID"    />
        <result property="zisdeleted"    column="ZISDELETED"    />
        <result property="zdatecreated"    column="ZDATECREATED"    />
        <result property="zcreatedby"    column="ZCREATEDBY"    />
        <result property="zdateupdated"    column="ZDATEUPDATED"    />
        <result property="zupdatedby"    column="ZUPDATEDBY"    />
        <result property="zsourceid"    column="ZSOURCEID"    />
        <result property="zmainrecordid"    column="ZMAINRECORDID"    />
        <result property="ztasksourceid"    column="ZTASKSOURCEID"    />
        <result property="zoldsourceid"    column="ZOLDSOURCEID"    />
    </resultMap>

    <sql id="selectJTaskheadVo">
        select ZTASKHID, ZPARENTHID, ZTASKTYPE, ZURGENCYLEVEL, ZTASKSTATUS, ZTASKTITLE, ZTASKCONTENT, ZTASKDATE, ZBEGINTIME, ZENDTIME, ZOWNERUSERID, ZOWNERDEPTID, ZISDELETED, ZDATECREATED, ZCREATEDBY, ZDATEUPDATED, ZUPDATEDBY, ZSOURCEID, ZMAINRECORDID, ZTASKSOURCEID, ZOLDSOURCEID from j_taskhead
    </sql>

    <select id="selectJTaskheadList" parameterType="JTaskhead" resultMap="JTaskheadResult">
        <include refid="selectJTaskheadVo"/>
        <where>  
            <if test="ztaskhid != null  and ztaskhid != ''"> and ZTASKHID = #{ztaskhid}</if>
            <if test="zparenthid != null  and zparenthid != ''"> and ZPARENTHID = #{zparenthid}</if>
            <if test="ztasktype != null "> and ZTASKTYPE = #{ztasktype}</if>
            <if test="zurgencylevel != null "> and ZURGENCYLEVEL = #{zurgencylevel}</if>
            <if test="ztaskstatus != null "> and ZTASKSTATUS = #{ztaskstatus}</if>
            <if test="ztasktitle != null  and ztasktitle != ''"> and ZTASKTITLE = #{ztasktitle}</if>
            <if test="ztaskcontent != null  and ztaskcontent != ''"> and ZTASKCONTENT = #{ztaskcontent}</if>
            <if test="ztaskdate != null "> and ZTASKDATE = #{ztaskdate}</if>
            <if test="zbegintime != null "> and ZBEGINTIME = #{zbegintime}</if>
            <if test="zendtime != null "> and ZENDTIME = #{zendtime}</if>
            <if test="zowneruserid != null  and zowneruserid != ''"> and ZOWNERUSERID = #{zowneruserid}</if>
            <if test="zownerdeptid != null "> and ZOWNERDEPTID = #{zownerdeptid}</if>
            <if test="zisdeleted != null "> and ZISDELETED = #{zisdeleted}</if>
            <if test="zdatecreated != null "> and ZDATECREATED = #{zdatecreated}</if>
            <if test="zcreatedby != null  and zcreatedby != ''"> and ZCREATEDBY = #{zcreatedby}</if>
            <if test="zdateupdated != null "> and ZDATEUPDATED = #{zdateupdated}</if>
            <if test="zupdatedby != null  and zupdatedby != ''"> and ZUPDATEDBY = #{zupdatedby}</if>
            <if test="zsourceid != null "> and ZSOURCEID = #{zsourceid}</if>
            <if test="zmainrecordid != null  and zmainrecordid != ''"> and ZMAINRECORDID = #{zmainrecordid}</if>
            <if test="ztasksourceid != null "> and ZTASKSOURCEID = #{ztasksourceid}</if>
            <if test="zoldsourceid != null "> and ZOLDSOURCEID = #{zoldsourceid}</if>
        </where>
    </select>
    
    <select id="selectJTaskheadById" parameterType="String" resultMap="JTaskheadResult">
        <include refid="selectJTaskheadVo"/>
        where ZTASKHID = #{ztaskhid}
    </select>
        
    <insert id="insertJTaskhead" parameterType="JTaskhead" useGeneratedKeys="true" keyProperty="ztaskhid">
        <selectKey keyProperty="ztaskhid" order="BEFORE" resultType="String">
            select get_taskid('tk') as ZTASKHID from DUAL
        </selectKey>
        insert into j_taskhead
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ztaskhid != null  and ztaskhid != ''">ZTASKHID,</if>
            <if test="zparenthid != null  and zparenthid != ''">ZPARENTHID,</if>
            <if test="ztasktype != null ">ZTASKTYPE,</if>
            <if test="zurgencylevel != null ">ZURGENCYLEVEL,</if>
            <if test="ztaskstatus != null ">ZTASKSTATUS,</if>
            <if test="ztasktitle != null  and ztasktitle != ''">ZTASKTITLE,</if>
            <if test="ztaskcontent != null  and ztaskcontent != ''">ZTASKCONTENT,</if>
            <if test="ztaskdate != null ">ZTASKDATE,</if>
            <if test="zbegintime != null ">ZBEGINTIME,</if>
            <if test="zendtime != null ">ZENDTIME,</if>
            <if test="zowneruserid != null  and zowneruserid != ''">ZOWNERUSERID,</if>
            <if test="zownerdeptid != null ">ZOWNERDEPTID,</if>
            <if test="zisdeleted != null ">ZISDELETED,</if>
            <if test="zdatecreated != null ">ZDATECREATED,</if>
            <if test="zcreatedby != null  and zcreatedby != ''">ZCREATEDBY,</if>
            <if test="zdateupdated != null ">ZDATEUPDATED,</if>
            <if test="zupdatedby != null  and zupdatedby != ''">ZUPDATEDBY,</if>
            <if test="zsourceid != null ">ZSOURCEID,</if>
            <if test="zmainrecordid != null  and zmainrecordid != ''">ZMAINRECORDID,</if>
            <if test="ztasksourceid != null ">ZTASKSOURCEID,</if>
            <if test="zoldsourceid != null ">ZOLDSOURCEID,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ztaskhid != null  and ztaskhid != ''">#{ztaskhid},</if>
            <if test="zparenthid != null  and zparenthid != ''">#{zparenthid},</if>
            <if test="ztasktype != null ">#{ztasktype},</if>
            <if test="zurgencylevel != null ">#{zurgencylevel},</if>
            <if test="ztaskstatus != null ">#{ztaskstatus},</if>
            <if test="ztasktitle != null  and ztasktitle != ''">#{ztasktitle},</if>
            <if test="ztaskcontent != null  and ztaskcontent != ''">#{ztaskcontent},</if>
            <if test="ztaskdate != null ">#{ztaskdate},</if>
            <if test="zbegintime != null ">#{zbegintime},</if>
            <if test="zendtime != null ">#{zendtime},</if>
            <if test="zowneruserid != null  and zowneruserid != ''">#{zowneruserid},</if>
            <if test="zownerdeptid != null ">#{zownerdeptid},</if>
            <if test="zisdeleted != null ">#{zisdeleted},</if>
            <if test="zdatecreated != null ">#{zdatecreated},</if>
            <if test="zcreatedby != null  and zcreatedby != ''">#{zcreatedby},</if>
            <if test="zdateupdated != null ">#{zdateupdated},</if>
            <if test="zupdatedby != null  and zupdatedby != ''">#{zupdatedby},</if>
            <if test="zsourceid != null ">#{zsourceid},</if>
            <if test="zmainrecordid != null  and zmainrecordid != ''">#{zmainrecordid},</if>
            <if test="ztasksourceid != null ">#{ztasksourceid},</if>
            <if test="zoldsourceid != null ">#{zoldsourceid},</if>
         </trim>
    </insert>

    <update id="updateJTaskhead" parameterType="JTaskhead">
        update j_taskhead
        <trim prefix="SET" suffixOverrides=",">
            <if test="zparenthid != null  and zparenthid != ''">ZPARENTHID = #{zparenthid},</if>
            <if test="ztasktype != null ">ZTASKTYPE = #{ztasktype},</if>
            <if test="zurgencylevel != null ">ZURGENCYLEVEL = #{zurgencylevel},</if>
            <if test="ztaskstatus != null ">ZTASKSTATUS = #{ztaskstatus},</if>
            <if test="ztasktitle != null  and ztasktitle != ''">ZTASKTITLE = #{ztasktitle},</if>
            <if test="ztaskcontent != null  and ztaskcontent != ''">ZTASKCONTENT = #{ztaskcontent},</if>
            <if test="ztaskdate != null ">ZTASKDATE = #{ztaskdate},</if>
            <if test="zbegintime != null ">ZBEGINTIME = #{zbegintime},</if>
            <if test="zendtime != null ">ZENDTIME = #{zendtime},</if>
            <if test="zowneruserid != null  and zowneruserid != ''">ZOWNERUSERID = #{zowneruserid},</if>
            <if test="zownerdeptid != null ">ZOWNERDEPTID = #{zownerdeptid},</if>
            <if test="zisdeleted != null ">ZISDELETED = #{zisdeleted},</if>
            <if test="zdatecreated != null ">ZDATECREATED = #{zdatecreated},</if>
            <if test="zcreatedby != null  and zcreatedby != ''">ZCREATEDBY = #{zcreatedby},</if>
            <if test="zdateupdated != null ">ZDATEUPDATED = #{zdateupdated},</if>
            <if test="zupdatedby != null  and zupdatedby != ''">ZUPDATEDBY = #{zupdatedby},</if>
            <if test="zsourceid != null ">ZSOURCEID = #{zsourceid},</if>
            <if test="zmainrecordid != null  and zmainrecordid != ''">ZMAINRECORDID = #{zmainrecordid},</if>
            <if test="ztasksourceid != null ">ZTASKSOURCEID = #{ztasksourceid},</if>
            <if test="zoldsourceid != null ">ZOLDSOURCEID = #{zoldsourceid},</if>
        </trim>
        where ZTASKHID = #{ztaskhid}
    </update>

    <delete id="deleteJTaskheadById" parameterType="String">
        delete from j_taskhead where ZTASKHID = #{ztaskhid}
    </delete>

    <delete id="deleteJTaskheadByIds" parameterType="String">
        delete from j_taskhead where ZTASKHID in 
        <foreach item="ztaskhid" collection="array" open="(" separator="," close=")">
            #{ztaskhid}
        </foreach>
    </delete>
    
</mapper>