<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.LawTaskDetailMapper">
    
    <resultMap type="LawTaskDetail" id="LawTaskDetailResult">
        <result property="taskDetailId"    column="task_detail_id"    />
        <result property="taskHeadId"    column="task_head_id"    />
        <result property="procType"    column="proc_type"    />
        <result property="procUserType"    column="proc_user_type"    />
        <result property="procUserId"    column="proc_user_id"    />
        <result property="procUserName"    column="proc_user_name"    />
        <result property="procDeptId"    column="proc_dept_id"    />
        <result property="procDeptName"    column="proc_dept_name"    />
        <result property="isRead"    column="is_read"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="dateCreated"    column="date_created"    />
        <result property="dateUpdated"    column="date_updated"    />
    </resultMap>

    <sql id="selectLawTaskDetailVo">
        select task_detail_id, task_head_id, proc_type, proc_user_type, proc_user_id, proc_user_name, proc_dept_id, proc_dept_name, is_read, is_deleted, created_by, updated_by, date_created, date_updated from law_task_detail
    </sql>

    <select id="selectLawTaskDetailList" parameterType="LawTaskDetail" resultMap="LawTaskDetailResult">
        <include refid="selectLawTaskDetailVo"/>
        <where>  
            <if test="procUserName != null  and procUserName != ''"> and proc_user_name like concat('%', #{procUserName}, '%')</if>
            <if test="procDeptId != null  and procDeptId != ''"> and proc_dept_id like concat('%', #{procDeptId}, '%')</if>
            <if test="procDeptName != null  and procDeptName != ''"> and proc_dept_name like concat('%', #{procDeptName}, '%')</if>
            <if test="isRead != null "> and is_read like concat('%', #{isRead}, '%')</if>
            <if test="isDeleted != null "> and is_deleted like concat('%', #{isDeleted}, '%')</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by like concat('%', #{createdBy}, '%')</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by like concat('%', #{updatedBy}, '%')</if>
            <if test="dateCreated != null "> and date_created like concat('%', #{dateCreated}, '%')</if>
            <if test="dateUpdated != null "> and date_updated like concat('%', #{dateUpdated}, '%')</if>
        </where>
    </select>
    
    <select id="selectLawTaskDetailById" parameterType="String" resultMap="LawTaskDetailResult">
        <include refid="selectLawTaskDetailVo"/>
        where task_detail_id = #{taskDetailId}
    </select>
        
    <insert id="insertLawTaskDetail" parameterType="LawTaskDetail">
        insert into law_task_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskDetailId != null  and taskDetailId != ''">task_detail_id,</if>
            <if test="taskHeadId != null  and taskHeadId != ''">task_head_id,</if>
            <if test="procType != null ">proc_type,</if>
            <if test="procUserType != null ">proc_user_type,</if>
            <if test="procUserId != null  and procUserId != ''">proc_user_id,</if>
            <if test="procUserName != null  and procUserName != ''">proc_user_name,</if>
            <if test="procDeptId != null  and procDeptId != ''">proc_dept_id,</if>
            <if test="procDeptName != null  and procDeptName != ''">proc_dept_name,</if>
            <if test="isRead != null ">is_read,</if>
            <if test="isDeleted != null ">is_deleted,</if>
            <if test="createdBy != null  and createdBy != ''">created_by,</if>
            <if test="updatedBy != null  and updatedBy != ''">updated_by,</if>
            <if test="dateCreated != null ">date_created,</if>
            <if test="dateUpdated != null ">date_updated,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskDetailId != null  and taskDetailId != ''">#{taskDetailId},</if>
            <if test="taskHeadId != null  and taskHeadId != ''">#{taskHeadId},</if>
            <if test="procType != null ">#{procType},</if>
            <if test="procUserType != null ">#{procUserType},</if>
            <if test="procUserId != null  and procUserId != ''">#{procUserId},</if>
            <if test="procUserName != null  and procUserName != ''">#{procUserName},</if>
            <if test="procDeptId != null  and procDeptId != ''">#{procDeptId},</if>
            <if test="procDeptName != null  and procDeptName != ''">#{procDeptName},</if>
            <if test="isRead != null ">#{isRead},</if>
            <if test="isDeleted != null ">#{isDeleted},</if>
            <if test="createdBy != null  and createdBy != ''">#{createdBy},</if>
            <if test="updatedBy != null  and updatedBy != ''">#{updatedBy},</if>
            <if test="dateCreated != null ">#{dateCreated},</if>
            <if test="dateUpdated != null ">#{dateUpdated},</if>
         </trim>
    </insert>

    <update id="updateLawTaskDetail" parameterType="LawTaskDetail">
        update law_task_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskHeadId != null  and taskHeadId != ''">task_head_id = #{taskHeadId},</if>
            <if test="procType != null ">proc_type = #{procType},</if>
            <if test="procUserType != null ">proc_user_type = #{procUserType},</if>
            <if test="procUserId != null  and procUserId != ''">proc_user_id = #{procUserId},</if>
            <if test="procUserName != null  and procUserName != ''">proc_user_name = #{procUserName},</if>
            <if test="procDeptId != null  and procDeptId != ''">proc_dept_id = #{procDeptId},</if>
            <if test="procDeptName != null  and procDeptName != ''">proc_dept_name = #{procDeptName},</if>
            <if test="isRead != null ">is_read = #{isRead},</if>
            <if test="isDeleted != null ">is_deleted = #{isDeleted},</if>
            <if test="createdBy != null  and createdBy != ''">created_by = #{createdBy},</if>
            <if test="updatedBy != null  and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="dateCreated != null ">date_created = #{dateCreated},</if>
            <if test="dateUpdated != null ">date_updated = #{dateUpdated},</if>
        </trim>
        where task_detail_id = #{taskDetailId}
    </update>

    <delete id="deleteLawTaskDetailById" parameterType="String">
        delete from law_task_detail where task_detail_id = #{taskDetailId}
    </delete>

    <delete id="deleteLawTaskDetailByIds" parameterType="String">
        delete from law_task_detail where task_detail_id in 
        <foreach item="taskDetailId" collection="array" open="(" separator="," close=")">
            #{taskDetailId}
        </foreach>
    </delete>


    <select id="selectLawTaskDetailALL"  resultMap="LawTaskDetailResult">
        <include refid="selectLawTaskDetailVo"/>
    </select>
    
</mapper>