<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.LawTaskHeadMapper">
    
    <resultMap type="LawTaskHead" id="LawTaskHeadResult">
        <result property="taskHeadId"    column="task_head_id"    />
        <result property="taskStatus"    column="task_status"    />
        <result property="taskUrgentLevel"    column="task_urgent_level"    />
        <result property="taskType"    column="task_type"    />
        <result property="taskTitle"    column="task_title"    />
        <result property="taskContent"    column="task_content"    />
        <result property="taskDueDate"    column="task_due_date"    />
        <result property="sourceId"    column="source_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="issuedUserId"    column="issued_user_id"    />
        <result property="issuedUserName"    column="issued_user_name"    />
        <result property="issuedOrgId"    column="issued_org_id"    />
        <result property="issuedOrgName"    column="issued_org_name"    />
        <result property="issuedDate"    column="issued_date"    />
        <result property="handledUserId"    column="handled_user_id"    />
        <result property="handledUserName"    column="handled_user_name"    />
        <result property="handledOrgId"    column="handled_org_id"    />
        <result property="handledOrgName"    column="handled_org_name"    />
        <result property="handledDate"    column="handled_date"    />
        <result property="handledDesc"    column="handled_desc"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="dateCreated"    column="date_created"    />
        <result property="dateUpdated"    column="date_updated"    />
    </resultMap>

    <sql id="selectLawTaskHeadVo">
        select task_head_id, task_status, task_urgent_level, task_type, task_title, task_content, task_due_date, source_id, parent_id, issued_user_id, issued_user_name, issued_org_id, issued_org_name, issued_date, handled_user_id, handled_user_name, handled_org_id, handled_org_name, handled_date, handled_desc, is_deleted, created_by, updated_by, date_created, date_updated from law_task_head
    </sql>

    <select id="selectLawTaskHeadList" parameterType="LawTaskHead" resultMap="LawTaskHeadResult">
        <include refid="selectLawTaskHeadVo"/>
        <where>  
            <if test="issuedUserName != null  and issuedUserName != ''"> and issued_user_name like concat('%', #{issuedUserName}, '%')</if>
            <if test="issuedOrgId != null  and issuedOrgId != ''"> and issued_org_id like concat('%', #{issuedOrgId}, '%')</if>
            <if test="issuedOrgName != null  and issuedOrgName != ''"> and issued_org_name like concat('%', #{issuedOrgName}, '%')</if>
            <if test="issuedDate != null "> and issued_date like concat('%', #{issuedDate}, '%')</if>
            <if test="handledUserId != null  and handledUserId != ''"> and handled_user_id like concat('%', #{handledUserId}, '%')</if>
            <if test="handledUserName != null  and handledUserName != ''"> and handled_user_name like concat('%', #{handledUserName}, '%')</if>
            <if test="handledOrgId != null  and handledOrgId != ''"> and handled_org_id like concat('%', #{handledOrgId}, '%')</if>
            <if test="handledOrgName != null  and handledOrgName != ''"> and handled_org_name like concat('%', #{handledOrgName}, '%')</if>
            <if test="handledDate != null "> and handled_date like concat('%', #{handledDate}, '%')</if>
            <if test="handledDesc != null  and handledDesc != ''"> and handled_desc like concat('%', #{handledDesc}, '%')</if>
            <if test="isDeleted != null "> and is_deleted like concat('%', #{isDeleted}, '%')</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by like concat('%', #{createdBy}, '%')</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by like concat('%', #{updatedBy}, '%')</if>
            <if test="dateCreated != null "> and date_created like concat('%', #{dateCreated}, '%')</if>
            <if test="dateUpdated != null "> and date_updated like concat('%', #{dateUpdated}, '%')</if>
        </where>
    </select>
    
    <select id="selectLawTaskHeadById" parameterType="String" resultMap="LawTaskHeadResult">
        <include refid="selectLawTaskHeadVo"/>
        where task_head_id = #{taskHeadId}
    </select>
        
    <insert id="insertLawTaskHead" parameterType="LawTaskHead">
        insert into law_task_head
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskHeadId != null  and taskHeadId != ''">task_head_id,</if>
            <if test="taskStatus != null ">task_status,</if>
            <if test="taskUrgentLevel != null ">task_urgent_level,</if>
            <if test="taskType != null  and taskType != ''">task_type,</if>
            <if test="taskTitle != null  and taskTitle != ''">task_title,</if>
            <if test="taskContent != null  and taskContent != ''">task_content,</if>
            <if test="taskDueDate != null ">task_due_date,</if>
            <if test="sourceId != null  and sourceId != ''">source_id,</if>
            <if test="parentId != null  and parentId != ''">parent_id,</if>
            <if test="issuedUserId != null  and issuedUserId != ''">issued_user_id,</if>
            <if test="issuedUserName != null  and issuedUserName != ''">issued_user_name,</if>
            <if test="issuedOrgId != null  and issuedOrgId != ''">issued_org_id,</if>
            <if test="issuedOrgName != null  and issuedOrgName != ''">issued_org_name,</if>
            <if test="issuedDate != null ">issued_date,</if>
            <if test="handledUserId != null  and handledUserId != ''">handled_user_id,</if>
            <if test="handledUserName != null  and handledUserName != ''">handled_user_name,</if>
            <if test="handledOrgId != null  and handledOrgId != ''">handled_org_id,</if>
            <if test="handledOrgName != null  and handledOrgName != ''">handled_org_name,</if>
            <if test="handledDate != null ">handled_date,</if>
            <if test="handledDesc != null  and handledDesc != ''">handled_desc,</if>
            <if test="isDeleted != null ">is_deleted,</if>
            <if test="createdBy != null  and createdBy != ''">created_by,</if>
            <if test="updatedBy != null  and updatedBy != ''">updated_by,</if>
            <if test="dateCreated != null ">date_created,</if>
            <if test="dateUpdated != null ">date_updated,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskHeadId != null  and taskHeadId != ''">#{taskHeadId},</if>
            <if test="taskStatus != null ">#{taskStatus},</if>
            <if test="taskUrgentLevel != null ">#{taskUrgentLevel},</if>
            <if test="taskType != null  and taskType != ''">#{taskType},</if>
            <if test="taskTitle != null  and taskTitle != ''">#{taskTitle},</if>
            <if test="taskContent != null  and taskContent != ''">#{taskContent},</if>
            <if test="taskDueDate != null ">#{taskDueDate},</if>
            <if test="sourceId != null  and sourceId != ''">#{sourceId},</if>
            <if test="parentId != null  and parentId != ''">#{parentId},</if>
            <if test="issuedUserId != null  and issuedUserId != ''">#{issuedUserId},</if>
            <if test="issuedUserName != null  and issuedUserName != ''">#{issuedUserName},</if>
            <if test="issuedOrgId != null  and issuedOrgId != ''">#{issuedOrgId},</if>
            <if test="issuedOrgName != null  and issuedOrgName != ''">#{issuedOrgName},</if>
            <if test="issuedDate != null ">#{issuedDate},</if>
            <if test="handledUserId != null  and handledUserId != ''">#{handledUserId},</if>
            <if test="handledUserName != null  and handledUserName != ''">#{handledUserName},</if>
            <if test="handledOrgId != null  and handledOrgId != ''">#{handledOrgId},</if>
            <if test="handledOrgName != null  and handledOrgName != ''">#{handledOrgName},</if>
            <if test="handledDate != null ">#{handledDate},</if>
            <if test="handledDesc != null  and handledDesc != ''">#{handledDesc},</if>
            <if test="isDeleted != null ">#{isDeleted},</if>
            <if test="createdBy != null  and createdBy != ''">#{createdBy},</if>
            <if test="updatedBy != null  and updatedBy != ''">#{updatedBy},</if>
            <if test="dateCreated != null ">#{dateCreated},</if>
            <if test="dateUpdated != null ">#{dateUpdated},</if>
         </trim>
    </insert>

    <update id="updateLawTaskHead" parameterType="LawTaskHead">
        update law_task_head
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskStatus != null ">task_status = #{taskStatus},</if>
            <if test="taskUrgentLevel != null ">task_urgent_level = #{taskUrgentLevel},</if>
            <if test="taskType != null  and taskType != ''">task_type = #{taskType},</if>
            <if test="taskTitle != null  and taskTitle != ''">task_title = #{taskTitle},</if>
            <if test="taskContent != null  and taskContent != ''">task_content = #{taskContent},</if>
            <if test="taskDueDate != null ">task_due_date = #{taskDueDate},</if>
            <if test="sourceId != null  and sourceId != ''">source_id = #{sourceId},</if>
            <if test="parentId != null  and parentId != ''">parent_id = #{parentId},</if>
            <if test="issuedUserId != null  and issuedUserId != ''">issued_user_id = #{issuedUserId},</if>
            <if test="issuedUserName != null  and issuedUserName != ''">issued_user_name = #{issuedUserName},</if>
            <if test="issuedOrgId != null  and issuedOrgId != ''">issued_org_id = #{issuedOrgId},</if>
            <if test="issuedOrgName != null  and issuedOrgName != ''">issued_org_name = #{issuedOrgName},</if>
            <if test="issuedDate != null ">issued_date = #{issuedDate},</if>
            <if test="handledUserId != null  and handledUserId != ''">handled_user_id = #{handledUserId},</if>
            <if test="handledUserName != null  and handledUserName != ''">handled_user_name = #{handledUserName},</if>
            <if test="handledOrgId != null  and handledOrgId != ''">handled_org_id = #{handledOrgId},</if>
            <if test="handledOrgName != null  and handledOrgName != ''">handled_org_name = #{handledOrgName},</if>
            <if test="handledDate != null ">handled_date = #{handledDate},</if>
            <if test="handledDesc != null  and handledDesc != ''">handled_desc = #{handledDesc},</if>
            <if test="isDeleted != null ">is_deleted = #{isDeleted},</if>
            <if test="createdBy != null  and createdBy != ''">created_by = #{createdBy},</if>
            <if test="updatedBy != null  and updatedBy != ''">updated_by = #{updatedBy},</if>
            <if test="dateCreated != null ">date_created = #{dateCreated},</if>
            <if test="dateUpdated != null ">date_updated = #{dateUpdated},</if>
        </trim>
        where task_head_id = #{taskHeadId}
    </update>

    <delete id="deleteLawTaskHeadById" parameterType="String">
        delete from law_task_head where task_head_id = #{taskHeadId}
    </delete>

    <delete id="deleteLawTaskHeadByIds" parameterType="String">
        delete from law_task_head where task_head_id in 
        <foreach item="taskHeadId" collection="array" open="(" separator="," close=")">
            #{taskHeadId}
        </foreach>
    </delete>
    
</mapper>