# 数据源配置(开发环境)
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: oracle.jdbc.OracleDriver
    druid:
      # 主库数据源
      master:
        url: jdbc:oracle:thin:@172.31.0.38:1521/toit
        username: basecenter
        password: basecenter
      # 从库数据源
      slave:
        # 从数据源开关/默认关闭
        enabled: false
        url:
        username:
        password:
      outwater:
        # 从数据源开关/默认关闭
        enabled: true
        url: jdbc:oracle:thin:@172.31.0.38:1521/toit
        username: paishuihu
        password: paishuihu

      lwjh:
        # 从数据源开关/默认关闭
        enabled: true
        url: jdbc:oracle:thin:@172.31.0.38:1521/toit
        username: lianwangjihua
        password: lianwangjihua

      guocheng:
        # 从数据源开关/默认关闭
        enabled: true
        url: jdbc:oracle:thin:@172.31.0.38:1521/toit
        username: hbguocheng
        password: hbguocheng

      voc:
        # 从数据源开关/默认关闭
        enabled: true
        url: jdbc:oracle:thin:@172.31.0.38:1521/toit
        username: voc
        password: voc

      youyan:
        # 从数据源开关/默认关闭
        enabled: true
        url: jdbc:oracle:thin:@172.31.0.38:1521/toit
        username: youyan
        password: youyan

      jiayou:
        # 从数据源开关/默认关闭
        enabled: true
        url: jdbc:oracle:thin:@172.31.0.38:1521/toit
        username: jiayou
        password: jiayou

      qixiu:
      # 从数据源开关/默认关闭
        enabled: true
        url: jdbc:oracle:thin:@172.31.0.38:1521/toit
        username: qixiu
        password: qixiu

      lingxing:
        enabled: true
        url: jdbc:oracle:thin:@172.31.0.38:1521/toit
        username: lingxing
        password: lingxing

      jinshu:
        # 从数据源开关/默认关闭
        enabled: true
        url: jdbc:oracle:thin:@172.31.0.38:1521/toit
        username: jinshu
        password: jinshu

      zaozhi:
          # 从数据源开关/默认关闭
        enabled: true
        url: jdbc:oracle:thin:@172.31.0.38:1521/toit
        username: zaozhi
        password: zaozhi

      hbonline:
        # 从数据源开关/默认关闭
        url: jdbc:oracle:thin:@192.168.10.212:1521/dghb
#        url: jdbc:oracle:thin:@192.168.10.201:1521/dghb
        username: hbonline
        password: abc123...

      # 初始连接数
      initialSize: 1
      # 最小连接池数量
      minIdle: 1
      # 最大连接池数量
      maxActive: 2
      # 配置获取连接等待超时的时间
      maxWait: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      timeBetweenEvictionRunsMillis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      minEvictableIdleTimeMillis: 300000
      # 配置一个连接在池中最大生存的时间，单位是毫秒
      maxEvictableIdleTimeMillis: 900000
      # 配置检测连接是否有效
      validationQuery: SELECT 1 FROM DUAL
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      webStatFilter:
        enabled: true
      statViewServlet:
        enabled: true
        # 设置白名单，不填则允许所有访问
        allow:
        url-pattern: /druid/*
        # 控制台管理用户名和密码
        login-username:
        login-password:
      filter:
        stat:
          enabled: true
          # 慢SQL记录
          log-slow-sql: true
          slow-sql-millis: 1000
          merge-sql: true
        wall:
          config:
            multi-statement-allow: true