.task-wk {
  width: 100%;
  height: calc(100% - 74px);
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.handle-dialog {
  .el-dialog__body {
    padding: 10px 20px;
  }
}

.base-list {
  width: 100%;
  //min-height: calc(100% - 36px);
  //height:100%;
  flex:1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.search-form {
  .el-form-item {
    margin-bottom: 10px;
  }
}
