<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.project.voc.mapper.VocCheckPointElementMapper">

    <resultMap id="entity" type="VocCPElementEntity">
        <result property="elementId" column="elementId"/>
        <result property="collectId" column="collect_id"/>
        <result property="eleTypeId" column="ele_type_id"/>
        <result property="eleCode" column="element_code"/>
        <result property="eleDesc" column="element_desc"/>
        <result property="isOnline" column="is_online"/>
        <result property="installLocation" column="install_location"/>
        <result property="cpElemId" column="cp_elem_id"/>
        <result property="checkDate" column="check_date"/>
        <result property="judgementval" column="judgementval"/>
        <result property="cpName" column="cpName"/>
        <result property="sourceName" column="sourceName"/>
        <result property="sourceId" column="source_id"/>
        <result property="eleTypeDesc" column="ele_type_desc"/>
        <result property="outletId" column="outlet_id"/>
        <result property="outletName" column="outlet_name"/>
        <result property="facilityId" column="facility_id"/>
        <result property="techId" column="tech_id"/>
    </resultMap>

    <resultMap id="eleList" type="VocNameIdEntity">
        <result property="id" column="ele_type_id"/>
        <result property="name" column="ele_type_desc"/>
    </resultMap>

    <delete id="deleteCPElement" parameterType="VocDeleteEntity">
        UPDATE bas_checkpoint_element
        <set>
            IS_DELETED = 1,
            <if test="userName != null and userName != ''">
                UPDATED_BY = #{userName},
            </if>
            DATE_UPDATED = SYSDATE
        </set>
        where CP_ELEM_ID in
        <foreach collection="array" item="cpElemId" open="(" separator="," close=")">
            #{cpElemId}
        </foreach>
    </delete>

    <delete id="deleteCPElementByFacilityIds">
        UPDATE bas_checkpoint_element set IS_DELETED = 1,DATE_UPDATED = SYSDATE,UPDATED_BY = #{updatedBy}
        where FACILITY_ID in
        <foreach collection="facilityIds" item="facilityId" open="(" separator="," close=")" index="index">
            #{facilityId}
        </foreach>
    </delete>

    <!--删除工艺下的因子-->
    <delete id="deleteCPElementByTechIds">
        UPDATE bas_checkpoint_element set IS_DELETED = 1,DATE_UPDATED = SYSDATE,UPDATED_BY = #{updatedBy}
        where tech_id in (
        select TECH_ID from bas_settletechnology
        where is_deleted=0 and FACILITY_ID in
        <foreach collection="facilityIds" item="facilityId" open="(" separator="," close=")" index="index">
            #{facilityId}
        </foreach>
        )
    </delete>

    <!--删除电表下的因子-->
    <delete id="deleteCPElementByElecmeterIds">
        UPDATE bas_checkpoint_element set IS_DELETED = 1,DATE_UPDATED = SYSDATE,UPDATED_BY = #{updatedBy}
        where tech_id in (
        select ELECMETER_ID from bas_facility_elecmeter
        where is_deleted=0 and FACILITY_ID in
        <foreach collection="facilityIds" item="facilityId" open="(" separator="," close=")" index="index">
            #{facilityId}
        </foreach>
        )
    </delete>

    <delete id="deleteCPElementById" parameterType="VocCPElementEntity">
        UPDATE bas_checkpoint_element set IS_DELETED = 1,DATE_UPDATED = SYSDATE,UPDATED_BY = #{updatedBy}
        where CP_ELEM_ID=#{cpElemId}
    </delete>

    <!--查询被当前企业绑定的因子-->
    <select id="selectCPElementBySourceId" parameterType="string" resultMap="entity">
        select e.*,c.source_id from bas_checkpoint_element e
        left join BAS_CHECKPOINT c on e.collect_id=c.COLLECT_ID and c.IS_DELETED=0
        where e.IS_DELETED=0 and (e.TECH_ID is not null or e.facility_id is not null)
        <if test="sourceId != null  and sourceId != ''">and c.source_id=#{sourceId}</if>
    </select>

    <!--没已经存在无关联的因子关联到生产线上-->
    <update id="updateCPElementByFacilityId" parameterType="VocCPElementEntity">
        UPDATE bas_checkpoint_element SET facility_id = #{facilityId, jdbcType=VARCHAR}
        where IS_DELETED = 0 and  ELEMENT_CODE = #{eleCode} and COLLECT_ID = #{collectId} and ele_type_id =#{eleTypeId}
    </update>

    <!--把无关联且已经重复的因子关联到生产线上-->
    <select id="selectCPElementByCondition" parameterType="string" resultMap="entity">
        select e.*,c.source_id from bas_checkpoint_element e
        left join BAS_CHECKPOINT c on e.collect_id=c.COLLECT_ID and c.IS_DELETED=0
        where e.TECH_ID is null and e.facility_id is null and c.source_id=#{sourceId}
    </select>

    <!--查询被删除的关联关系-->
    <select id="selectCPElemIdCount" parameterType="SysRoleTag" resultType="int">
        select count(1) from bas_checkpoint_element
        where CP_ELEM_ID=#{cpElemId,jdbcType=BIGINT} and is_deleted=0
    </select>

    <select id="selectCPElemIdByIdfacilityId" resultMap="entity">
        select * from  bas_checkpoint_element where IS_DELETED = 0 and FACILITY_ID = #{facilityId}
    </select>

    <select id="selectCPElementByElemId" parameterType="string" resultMap="entity">
        select * from  bas_checkpoint_element where IS_DELETED = 0 and cp_elem_id = #{cpElemId}
    </select>

    <update id="updateCPElement" parameterType="VocCPElementEntity">
        UPDATE bas_checkpoint_element SET
        COLLECT_ID = #{collectId, jdbcType=VARCHAR},
        ELE_TYPE_ID = #{eleTypeId, jdbcType=VARCHAR},
        ELEMENT_CODE = #{eleCode, jdbcType=VARCHAR},
        ELEMENT_DESC = #{eleDesc, jdbcType=VARCHAR},
        INSTALL_LOCATION = #{installLocation, jdbcType=VARCHAR},
        <if test="judgementval != null">JUDGEMENTVAL = #{judgementval},</if>
        <if test="isOnline != null">IS_ONLINE = #{isOnline},</if>
        <if test="outletId != null">OUTLET_ID = #{outletId, jdbcType=VARCHAR},</if>
        UPDATED_BY = #{updatedBy},DATE_UPDATED = SYSDATE
        WHERE CP_ELEM_ID = #{cpElemId} and is_deleted=0
    </update>

    <select id="repeatCheck" resultType="int" parameterType="VocCPElementEntity">
        select count(1) from BAS_CHECKPOINT_ELEMENT
        where IS_DELETED = 0 and  ELEMENT_CODE = #{eleCode} and COLLECT_ID = #{collectId}
        and ele_type_id =#{eleTypeId}
    </select>

    <select id="repeatCheck1" resultType="int" parameterType="VocCPElementEntity">
        select count(1) from BAS_CHECKPOINT_ELEMENT
        where IS_DELETED = 0 and  ELEMENT_CODE = #{eleCode} and COLLECT_ID = #{collectId}
        and ele_type_id =#{eleTypeId} and FACILITY_ID is null
    </select>

    <insert id="insertCPElement" parameterType="VocCPElementEntity">
        INSERT INTO bas_checkpoint_element
        <trim prefix="(" suffix=")" suffixOverrides=",">
            CP_ELEM_ID,
            <if test="collectId != null  and collectId != ''">COLLECT_ID,</if>
            <if test="eleTypeId != null  and eleTypeId != ''">ELE_TYPE_ID,</if>
            <if test="eleCode != null  and eleCode != ''">ELEMENT_CODE,</if>
            <if test="eleDesc != null  and eleDesc != ''">ELEMENT_DESC,</if>
            <if test="installLocation != null  and installLocation != ''">INSTALL_LOCATION,</if>
            JUDGEMENTVAL,
            <if test="isOnline != null  and isOnline != ''">IS_ONLINE,</if>
            <if test="outletId != null  and outletId != ''">OUTLET_ID,</if>
            <if test="facilityId != null  and facilityId != ''">FACILITY_ID,</if>
            <if test="techId != null  and techId != ''">TECH_ID,</if>
            IS_DELETED,CREATED_BY,UPDATED_BY,DATE_CREATED,DATE_UPDATED
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            SEQ_ELEMENT_ID.nextval,
            <if test="collectId != null  and collectId != ''">#{collectId},</if>
            <if test="eleTypeId != null  and eleTypeId != ''">#{eleTypeId},</if>
            <if test="eleCode != null  and eleCode != ''">#{eleCode},</if>
            <if test="eleDesc != null  and eleDesc != ''">#{eleDesc},</if>
            <if test="installLocation != null  and installLocation != ''">#{installLocation},</if>
            0,
            <if test="isOnline != null  and isOnline != ''">#{isOnline},</if>
            <if test="outletId != null  and outletId != ''">#{outletId},</if>
            <if test="facilityId != null  and facilityId != ''">#{facilityId},</if>
            <if test="techId != null  and techId != ''">#{techId},</if>
            0,#{createdBy},#{updatedBy},SYSDATE,SYSDATE
        </trim>
    </insert>

    <select id="selectElement" resultMap="eleList">
        SELECT ele_type_id,ele_type_desc from bas_element where is_deleted = 0
        <if test="name != null and name != ''">
            and s.ele_type_desc like '%'|| #{name}||'%'
        </if>
        <if test="id != null and id != ''">
            and s.ele_type_id like '%'|| #{id}||'%'
        </if>
    </select>

    <select id="selectCPElement" parameterType="VocCPElementEntity" resultMap="entity">
        select cp.source_id,ce.collect_id,ce.ele_type_id,ce.element_code,ce.element_desc,ce.install_location,
        ce.cp_elem_id,ce.is_online,ce.check_date,ce.judgementval,ce.outlet_id,
        s.full_name sourceName,cp.full_name cpName,be.ele_type_desc,bo.outlet_name
        from bas_checkpoint_element ce
        left join bas_checkpoint cp on cp.collect_id = ce.collect_id and cp.is_deleted = 0
        left join basecenter.pf_bas_source s on cp.source_id = S.source_id and s.is_deleted = 0
        left join bas_element be on be.ele_type_id = ce.ele_type_id and be.is_deleted = 0
        left join BAS_OUTLET bo on bo.outlet_id = ce.outlet_id and bo.is_deleted = 0
        where ce.is_deleted = 0
        <if test="eleDesc != null and eleDesc != ''">
            and ce.element_desc like '%'|| #{eleDesc}||'%'
        </if>
        <if test="eleTypeId != null and eleTypeId != ''">
            and ce.ele_type_id = #{eleTypeId}
        </if>
        <if test="cpName != null and cpName != ''">
            and cp.full_name like '%'|| #{cpName}||'%'
        </if>
        <if test="sourceName != null and sourceName != ''">
            and s.full_name like '%'|| #{sourceName}||'%'
        </if>
        <if test="sourceId != null and sourceId != ''">
            and s.source_id = #{sourceId}
        </if>
        <if test="collectId != null and collectId != ''">
            and cp.collect_id = #{collectId}
        </if>
        <if test="outletName != null and outletName != ''">
            and bo.outlet_name like '%'|| #{outletName}||'%'
        </if>
        ${dataScope}
        order by s.source_id
    </select>

    <select id="selectCPElementList" resultMap="entity">
        select b.*,c.full_name cpName from bas_checkpoint_element b
        left join bas_checkpoint c on b.collect_id=c.collect_id and c.is_deleted=0
        where b.FACILITY_ID = #{facilityId} and b.is_deleted=0
    </select>

    <select id="selectCPElementListByTechId" resultMap="entity">
        select b.*,c.full_name cpName from bas_checkpoint_element b
        left join bas_checkpoint c on b.collect_id=c.collect_id and c.is_deleted=0
        where b.FACILITY_ID = #{facilityId} and b.tech_id=#{techId,jdbcType=VARCHAR} and b.is_deleted=0
    </select>
</mapper>
