<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.facility.mapper.ElementRefMapper">
    <insert id="addElementRef" parameterType="ElementRefEntity">
        insert into pf_bas_element_ref (src_elemid, src_tag_head_id, src_mn, dst_elemid, dst_tag_head_id, created_by, updated_by)
        values (#{srcElemId}, #{srcTagHeadId}, #{srcCollectId}, #{dstElemId}, #{dstTagHeadId}, #{createdBy}, #{updatedBy})
    </insert>

    <update id="removeElementRef">
        update pf_bas_element_ref set is_deleted = 0, updated_by = #{updatedBy}, date_updated = sysdate
        where dst_tag_head_id = #{tagHeadId} and dst_elemid in
        <foreach collection="elementIds" item="elementId" open="(" separator="," close=")">
            #{elementId}
        </foreach>
    </update>
</mapper>